if SHIELD_BUTTON_SLAPPER_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "button_slapper"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BUTTON_SLAPPER_LEFT || SHIELD_BUTTON_SLAPPER_RIGHT

config ZMK_SPLIT
    default y

endif